@font-face{
    src: url(fonts/Raleway-Regular.ttf);
    font-family: raleway;
}

@font-face{
    src: url(fonts/Raleway-Bold.ttf);
    font-family: raleway-bold;
}

@font-face{
    src: url(fonts/Raleway-SemiBold.ttf);
    font-family: raleway-semibold;
}

*{
    margin: 0;
    padding: 0;
    font-family: raleway;
}

.about-page{
    width: 100%;
    height: 100%;
    background-image: url(photos/background3.png);
    background-repeat: no-repeat;
    background-size: cover;

    overflow: auto;
    resize: both;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.menu h1{
    position: absolute;
    padding-top: 30px;
    padding-left: 40px;
    text-transform: uppercase;
    color: #d63031;
}

.menu ul{
    position: absolute;
    display: inline-flex;
    margin-top: 40px;
    right: 0px;
    padding: 0px 100px;

}

.menu ul li{
    list-style: none;
    float: right;
    margin: -12px 50px;
    color: #ecf0f1;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
}

.menu ul li a{
    position: absolute;
    padding: 16px 0px 5px;
    margin: 0 25px;
    margin-right: 50px;
    color: #ecf0f1;
    text-decoration: none;
    font-family: raleway-semibold;
}

.menu ul li a:hover{
    color: #d63031;
    transition: 0.7s;
}

.menu ul li a:after{
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #d63031;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}

.menu ul li a:hover:after{
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(1);
}

.about-section{
    overflow: hidden;
    text-align: center;
    padding: 60px;
}

.about-section h1{
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 50px;
    color: #ecf0f1;
    font-size: 40px;
}

.border{
    display: block;
    margin: auto;
    width: 300px;
    height: 3px;
    margin-bottom: 50px;
    border-bottom: 3px solid #d63031;
}

.ps{
    margin-bottom: 40px;
}

.ps a img{
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-radius: 50%;
}

.description{
    text-align: center;
    color: #ecf0f1;
}

.border-2{
    display: block;
    margin: auto;
    width: 300px;
    height: 3px;
    margin-bottom: 50px;
    border-bottom: 3px solid #d63031;
}

.description p{
    font-size: 18px;
    margin-bottom: 40px;
}

.description a{
    display: inline-block;
    text-decoration: none;
    color: #ecf0f1;
    border: 3px solid #d63031;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.2s linear;
    font-family: raleway-semibold;
}

.description a:hover{
    color: #ecf0f1;
    background: #d63031;
}
