@font-face{
    src: url(fonts/Raleway-Regular.ttf);
    font-family: raleway;
}

@font-face{
    src: url(fonts/Raleway-Bold.ttf);
    font-family: raleway-bold;
}

@font-face{
    src: url(fonts/Raleway-SemiBold.ttf);
    font-family: raleway-semibold;
}

*{
    margin: 0;
    padding: 0;
    font-family: raleway;
}

.contact-page{
    width: 100%;
    height: 110%;
    background-image: url(photos/background3.png);
    background-repeat: repeat;
    background-size: cover;
}

.menu h1{
    position: absolute;
    padding-top: 30px;
    padding-left: 40px;
    text-transform: uppercase;
    color: #d63031;
}

.menu ul{
    position: absolute;
    display: inline-flex;
    margin-top: 40px;
    right: 0px;
    padding: 0px 100px;
    
}

.menu ul li{
    list-style: none;
    float: right;
    margin: -12px 50px;
    color: #ecf0f1;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
}

.menu ul li a{
    position: absolute;
    padding: 16px 0px 5px;
    margin: 0 25px;
    margin-right: 50px;
    color: #ecf0f1;
    text-decoration: none;
    font-family: raleway-semibold;
}

.menu ul li a:hover{
    color: #d63031;
    transition: 0.7s;
}

.menu ul li a:after{
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #d63031;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}

.menu ul li a:hover:after{
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(1);
}

.contact-menu ul{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.contact-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.contact-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.contact-menu ul li .fa:hover{
    color: #fff;
}

.contact-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .3s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.contact-menu ul li a:hover{
    transform: translate(0, -10px);
}

.contact-menu ul li:nth-child(1) a:hover{
    background-color: #1877f2;
}

.contact-menu ul li:nth-child(2) a:hover{
    background-color: #0a66c2;
}

.contact-menu ul li:nth-child(3) a:hover{
    background-color: #c32aa3;
}

.contact-menu ul li:nth-child(4) a:hover{
    background-color: #6cc644;
}

.contact-menu ul li:nth-child(5) a:hover{
    background-color: #1da1f2;
}