@font-face{
    src: url(fonts/Raleway-Regular.ttf);
    font-family: raleway;
}

@font-face{
    src: url(fonts/Raleway-Bold.ttf);
    font-family: raleway-bold;
}

@font-face{
    src: url(fonts/Raleway-SemiBold.ttf);
    font-family: raleway-semibold;
}

*{
    margin: 0;
    padding: 0;
    font-family: raleway;
}

.work-page{
    width: 100%;
    height: 110%;
    background-image: url(photos/background3.png);
    background-repeat: repeat;
    background-size: cover;
}

.menu h1{
    position: absolute;
    padding-top: 30px;
    padding-left: 40px;
    text-transform: uppercase;
    color: #d63031;
}

.menu ul{
    position: absolute;
    display: inline-flex;
    margin-top: 40px;
    right: 0px;
    padding: 0px 100px;
    
}

.menu ul li{
    list-style: none;
    float: right;
    margin: -12px 50px;
    color: #ecf0f1;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
}

.menu ul li a{
    position: absolute;
    padding: 16px 0px 5px;
    margin: 0 25px;
    margin-right: 50px;
    color: #ecf0f1;
    text-decoration: none;
    font-family: raleway-semibold;
}

.menu ul li a:hover{
    color: #d63031;
    transition: 0.7s;
}

.menu ul li a:after{
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #d63031;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}

.menu ul li a:hover:after{
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(1);
}

.projects-header{
    overflow: hidden;
    text-align: center;
    padding: 60px;
}

.projects-header h1{
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #ecf0f1;
    font-size: 40px;
}

.border{
    display: block;
    margin: auto;
    width: 300px;
    height: 3px;
    margin-bottom: 30px;
    border-bottom: 3px solid #d63031;
}

.flex-container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 3px solid #d63031;
    border-bottom: 3px solid #d63031;
}

.main-content{
    flex: 1;
}

.main-content img{
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.image{
    position: relative;
    border: 2px solid #ecf0f1;
}

.image__img{
    display: block;
    width: 100%;
}

.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay:hover{
    opacity: 1;
}

.image__title a{
    font-size: 12px;
    font-family: raleway-bold;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: #ecf0f1;
    border: 2px solid #ecf0f1;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.2s linear;
}

.image__title a:hover{
    color: #ecf0f1;
    background: #b33939;
}

.sidebar{
    flex: 3;
}

.sidebar h2{
    color: #d63031;
    font-family: raleway;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 8px;
    padding-left: 20px;
}

.sidebar h2 a{
    text-decoration: none;
    color: #ecf0f1;
    position: absolute;
    margin-bottom: 8px;
    border-bottom: 3px solid #ecf0f1;
    font-family: raleway;
    font-style: italic;
}

.sidebar p{
    color: #ecf0f1;
    font-family: raleway;
    padding-left: 20px;
    padding-top: 50px;
}

/* 

    START PROJECT #2

*/

.flex-container-2{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #d63031;
}

.main-content-2{
    flex: 1;
}

.main-content-2 img{
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.image-2{
    position: relative;
    border: 2px solid #ecf0f1;
}

.image__img-2{
    display: block;
    width: 100%;
}

.image__overlay-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay-2:hover{
    opacity: 1;
}

.image__title-2 a{
    font-size: 12px;
    font-family: raleway-bold;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: #ecf0f1;
    border: 2px solid #ecf0f1;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.2s linear;
}

.image__title-2 a:hover{
    color: #ecf0f1;
    background: #b33939;
}

.sidebar-2{
    flex: 3;
}

.sidebar-2 h2{
    color: #d63031;
    font-family: raleway;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 8px;
    padding-left: 20px;
}

.sidebar-2 h2 a{
    text-decoration: none;
    color: #ecf0f1;
    position: absolute;
    margin-bottom: 8px;
    border-bottom: 3px solid #ecf0f1;
    font-family: raleway;
    font-style: italic;
}

.sidebar-2 p{
    color: #ecf0f1;
    font-family: raleway;
    padding-left: 20px;
    padding-top: 50px;
}