@font-face{
    src: url(fonts/Raleway-Regular.ttf);
    font-family: raleway;
}

@font-face{
    src: url(fonts/Raleway-Bold.ttf);
    font-family: raleway-bold;
}

@font-face{
    src: url(fonts/Raleway-SemiBold.ttf);
    font-family: raleway-semibold;
}

*{
    margin: 0;
    padding: 0;
    font-family: raleway;
}

.work-page{
    width: 100%;
    height: 100%;
    background-image: url(photos/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu h1{
    position: absolute;
    padding-top: 30px;
    padding-left: 40px;
    text-transform: uppercase;
    color: #d63031;
}

.menu ul{
    position: absolute;
    display: inline-flex;
    margin-top: 40px;
    right: 0px;
    padding: 0px 100px;
    
}

.menu ul li{
    list-style: none;
    float: right;
    margin: -12px 50px;
    color: #ecf0f1;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
}

.menu ul li a{
    position: absolute;
    padding: 16px 0px 5px;
    margin: 0 25px;
    margin-right: 50px;
    color: #ecf0f1;
    text-decoration: none;
    font-family: raleway-semibold;
}

.menu ul li a:hover{
    color: #d63031;
    transition: 0.7s;
}

.menu ul li a:after{
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #d63031;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}

.menu ul li a:hover:after{
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(1);
}

.projects-section{
    overflow: hidden;
    text-align: center;
    padding: 60px;
}

.projects-section h1{
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #ecf0f1;
    font-size: 40px;
}

.border{
    display: block;
    margin: auto;
    width: 300px;
    height: 3px;
    margin-bottom: 30px;
    border-bottom: 3px solid #d63031;
}

.projects-content ul{
    display: inline-block;
    color: #d63031;
}

.projects-content ul li{
    text-decoration: none;
    color: #d63031;
    list-style: none;
    margin-bottom: 10px;
}

.projects-content ul li a{
    text-decoration: none;
    color: #d63031;
    font-family: raleway-semibold;
}

.image{
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-radius: 50%;
}
